
<div style="display:flex;margin: 20px 1px 20px 1px;">
    <a asp-controller="Account" asp-action="NewProducto" style="margin:auto;text-decoration:none"><button class="btn-outline-light" style="background-color: #9acb8d;">New Producto</button></a>
    <a asp-controller="Account" asp-action="NewCategoria" style="margin:auto;text-decoration:none"><button class="btn-outline-light" style="background-color: #9acb8d;">New Categoria</button></a>
</div>